@model string

@{
    <html>
    <head>
        <title>Etimo ID Login</title>
    </head>
    <body>
    <span>Please login:</span>
    <form action="@Model" method="post" id="login">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="Login"/>
    </form>
    </body>
    </html>
}
