@model string

@{
    <span>Please login:</span>
    <form action="@Model" method="post">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" value="Login" />
    </form>
}
